<div class="blog-post">
<h1 class="title">
    <%= @blog.title %>
</h1>

<p class="date">
    Artfully crafted <%= time_ago_in_words(@blog.created_at) %> ago
    | <%= link_to "Edit", edit_blog_path(@blog) %>
    | <%= link_to "Delete", blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p class="body">
    <%= @blog.body %>
</p>
</div>