<!DOCTYPE html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">  

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Kubi', root_path, class: 'navbar-brand' %>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Portfolio", videos_path %></li>
            <li><%= link_to "Blog", blogs_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!-- END NAVIGATION -->
    
    <div class="jumbotron portfolio-jumbotron text-center">
        <div class="container">
            <br><br><br>
            <h1>Joshua's Videos</h1>
            <br><p>Joshua makes beautiful videos, and also news commercials.</p>
        </div>
    </div> 
    
    <% @videos.each do |video| %>
    <div class="row">
        <div class="col-xs-6 col-md-3">
        <p><%= video.title %></p>
        <p><%= video.description %></p>
        </div>
    </div>
    <% end %>   
    
</body>
</html>
